{% load static %}
<html>
    <head>
        <title>MOVIE REVIEW APP</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <img src="{% static 'images/movies.png' %}" style="height:30px; width:40px" alt="My image">
              <a class="navbar-brand" href="{% url 'home' %}">Movies</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navbar-nav ms-auto mb-2 mb-lg-0">
                  <a class="nav-link" href="{% url 'news' %}">News</a>
                  <a class="nav-link" href="{% url 'login' %}">Login</a>
                  <a class="nav-link" href="{% url 'signup' %}">SignUp</a>
                </div>
              </div>
            </div>
          </nav>
          {% block content %}
          {% endblock %}
          <div class="container">
            <footer>
                <h6><p class="text-center text-muted">© copyright <a href="https://github.com/aryanpatel0204">@Aryan Patel</a></p><h6>
            </footer>
        </div>
    </body>
</html>